/* styles.css */
body {
  background-color:#FAA307;
  color: black;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

p {  
  color: #370617;
  font-size: 20px;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
   text-align: center;
}

div {
	color: #370617;
	font-family: "Merienda", cursive;
	font-weight: bold;
	font-size: 15px;
	/* use positive margins to increase space between lines of block level elements */
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
}

h1 {
  color: #370617;
  font-size: 48px;
  text-align: center;
}

.text {
  width: 50%;
  margin: 96px auto;
}

.text * {
  display: inline-block;
  width: 48%;
  margin: 0;
  padding: 0;
  vertical-algin: middle;
}

h2 {
  color: #370617;
  font-size: 40px;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
}

h3 {
  color: #370617;
  font-size: 16px;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
}

h3 a:link,
	h3: a:visited {
  color: dodgerblue;
  text-decoration: none;
}

h3 a:hover {
  color: #E85D04;
}

.background-Image {
  background-image: url(../img/Whisper_model.jpg);
  width: 129px;
  height: 158px;
  margin:  auto;
}

.background-Image:hover {
  background-image: url(../img/Whisper_Yawn.jpg);
  width: 135px;
  height: 128px;
  margin: auto;
  cursor: crosshair;
}


.btn-custom {
    background-color: #E85D04; /* Orange background */
    color: #370617;              /* Text color */
    border: none;              /* Remove border */

    .button-group {
      background-color: 
      border: 2px ;
      color: #FAA307;
      padding: 12px;
      width: 25%;
      display: ;
      gap: 10px;
    }

.btn-custom:hover{
background-color: #E85D04;
}

