/* styles.css */
body {
  background-color: #4e937a;
  color: black;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

p {  
  color: black;
  font-size: 40px;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
   text-align: center;
}

div {
	color: black;
	font-family: "Merienda", cursive;
	font-weight: bold;
	font-size: 35px;
	/* use positive margins to increase space between lines of block level elements */
	margin-top: 35px;
	margin-bottom: 35px;
	text-align: center;
}

h1 {
  color: black;
  font-size: 48px;
  text-align: center;
}

.text {
  width: 50%;
  margin: 96px auto;
}

.text * {
  display: inline-block;
  width: 48%;
  margin: 0;
  padding: 0;
  vertical-algin: middle;
}

h2 {
  color: black;
  font-size: 40px;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
}

h3 {
  color: black;
  font-size: 16px;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
}

h3 a:link,
	h3: a:visited {
  color: dodgerblue;
  text-decoration: none;
}

h3 a:hover {
  color: white;
}

.background-Image {
  background-image: url(../img/wrench.png);
  width: 400px;
  height: 400px;
  margin: 64px auto;
}

.background-Image:hover {
  background-image: url(../img/clock.png);
  cursor: crosshair;
}

.btn-custom {
    background-color: #3E6259; /* Orange background */
    color: white;              /* Text color */
    border: none;              /* Remove border */



